# Core training dependencies
torch>=2.0.0
datasets>=2.14.0
transformers>=4.30.0
huggingface_hub>=0.16.0
tqdm>=4.65.0
wandb>=0.15.0
liger-kernel>=0.5.0

#Distributed training dependencies
# deepspeed>=0.10.0
# accelerate>=0.20.0
# ninja
# packaging

# NeMo Curator dependencies
# nemo-curator>=0.1.0
# python-dotenv>=1.0.0
# ray>=2.0.0

# Data packing dependencies
# numba
# polars
tree-sitter>=0.22
tree-sitter-javascript
tree-sitter-typescript
tree-sitter-java
tree-sitter-c
tree-sitter-cpp
tree-sitter-go
tree-sitter-rust
